<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">home</a>
        <a class="page-link" href="/about/">about</a>
        <a class="page-link" href="/portfolio/">portfolilo</a>  
        <a class="page-link" href="/resume/">résumé</a>
        <a class="page-link" href="/contact/">contact</a>
     
      </div>
    </nav>

  </div>

</header>